.App {
  width: 100%;
}
.App .Home {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}
.App .Home .heading {
  display: flex;
  justify-content: center;
}
.App .Home .Searchbar {
  display: flex;
  justify-content: center;
}
.App .movies-list {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
